body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin:0;
}

/*Blueand White Sections*/
.section {
    display: block;
}
.blue-bg .title h1 {
    color: white;
}
.white-bg .title h1 {
    color: #3295be;
}
.title > h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
}
.title h1:after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
}
.blue-bg .title > h1:after {
    border: 2px solid #fff;
}
.white-bg .title > h1:after {
    border: 2px solid #3295be;
}
.blue-bg > .section-content {
    background-color: #3295be;
    background: rgba(34,125,170,1);
    background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
    background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227daa', endColorstr='#51accd', GradientType=0 );
}

.white-bg > .section-content {
    background-color: white;
}

.ui-content{
	padding:0;
}
.paragraph-section{
	padding:2em;
}

/*Main Section*/
.main-section {
    background: rgba(34,125,170,1);
    background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
    background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.main-section h1 {
    font-size: 60px;
}
.main-section > .section-content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 100px;
    text-align: left;
}
.main-section h1:after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px auto -10px 0;
    border: 2px solid #fff;
}
.main-section p {
    font-size: 20px;
    color: #deeef5;
    letter-spacing: 1px;
}
.section-content {
    padding: 100px 100px;
    display: block;
    overflow: auto;
}
@media screen and (max-width: 480px) {
	.main-section > .section-content {
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		text-align: left;
	}
	.section-content {
		padding: 10px;
		display: block;
		overflow: auto;
	}
	.paragraph-section{
		padding:0;
	}
}
/*Ninja Text*/
/*SOURCE: http://stackoverflow.com/questions/21993661/css-auto-hide-elements-after-5-seconds*/
.small {
    font-size: 14px;
    color: #aac7d9;
    margin-bottom: 10px;
}
.hideMe {
    -moz-animation: cssAnimation 0s ease-in 4s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 4s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 4s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

/*Rounded Avatar*/
.avatar{
	display: block;
    margin: 4% auto 2% auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px #fff, 0 0 0 6px #999, 0 10px 10px 8px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 5px #fff, 0 0 0 6px #999, 0 10px 10px 8px rgba(0,0,0,.2);
}
.reference{
	text-align: center;
	font-size: 0.7em;
}

.reference a.ui-link {
	text-decoration:none;
	color: #fff;
}
.reference a:visited.ui-link{
	color: #fff;
}


img#ucd_logo{
	margin-left:1%;
}
@media screen and (max-width: 480px) {
	img#ucd_logo{
		margin-left:4%;
	}
}