/*********************
*1/GENERAL
*2/ABOUT
*3/EXPERIENCE & SKILLS
*4/PROJECTS
***************************/

/*GENERAL*/
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin:0;
}
.bottom-nav-w{
	background:white;
}
.bottom-nav-b{
	background:#3295be;
}
#my_title{
	text-align:center;
	/*-webkit-margin-before: 0em;*/
}
/*Blue and White Sections*/
.title {
    float: left;
    width: 20%;
	margin-bottom: 2%;
}
.spaced-title{
    float: left;
    width: 100%;
	margin-bottom: 2%;
}

.section {
    display: block;
}
.blue-bg .title h1 {
    color: white;
}
.white-bg .title h1 {
    color: #3295be;
}
.title > h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 2px;
}
.title h1:after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0;
}
.blue-bg .title > h1:after {
    border: 2px solid #fff;
}
.white-bg .title > h1:after {
    border: 2px solid #3295be;
}
.blue-bg > .section-content {
    background-color: #3295be;
    background: rgba(34,125,170,1);
    background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
    background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227daa', endColorstr='#51accd', GradientType=0 );
}

.white-bg > .section-content {
    background-color: white;
}

.ui-content{
	padding:0;
}

/*Main Section*/
.main-section {
    background: rgba(34,125,170,1);
    background: -moz-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(34,125,170,1)), color-stop(100%, rgba(81,172,205,1)));
    background: -webkit-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -o-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: -ms-linear-gradient(top, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    background: linear-gradient(to bottom, rgba(34,125,170,1) 0%, rgba(81,172,205,1) 100%);
    display: table;
    width: 100%;
    height: 700px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}
.main-section h1 {
    font-size: 60px;
}
.main-section > .section-content {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 100px;
    text-align: left;
}
.main-section h1:after {
    content: ' ';
    display: block;
    width: 50px;
    margin: 10px 0 -10px 48%;
    border: 2px solid #fff;
}
.main-section p {
    font-size: 20px;
    color: #deeef5;
    letter-spacing: 1px;
	text-align:center;
}
.section-content {
    padding: 100px 100px;
    display: block;
    overflow: auto;
}


/*ABOUT*/
/*Ninja Text*/
/*SOURCE: http://stackoverflow.com/questions/21993661/css-auto-hide-elements-after-5-seconds*/
.small {
    font-size: 14px;
    color: #aac7d9;
    margin-bottom: 10px;
	text-align:center;
}
.small .hideMe{
	margin-bottom: 0px;
}
.box .small{
	text-align:left;
}
.hideMe {
    -moz-animation: cssAnimation 0s ease-in 4s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 4s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 4s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
	text-align:center;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
#about .main-section p{
	-webkit-margin-before: 1em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


/*Rounded Avatar*/
.avatar{
	display: block;
    margin: 4% auto 2% auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 5px #fff, 0 0 0 6px #999, 0 10px 10px 8px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 5px #fff, 0 0 0 6px #999, 0 10px 10px 8px rgba(0,0,0,.2);
}
.reference{
	text-align: center;
	font-size: 0.7em;
}
.reference a.ui-link {
	text-decoration:none;
	color: #fff;
}
.reference a:visited.ui-link{
	color: #fff;
}
img#ucd_logo{
	margin-left:1%;
}
/*EDUCATION*/
/*Hacky way to remove the ui-shadow*/
.edu{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}



/*EXPERIENCE & SKILLS*/
.skillset_para{
	margin-bottom:5%;
}
.section-content .content > div {
    padding-left: 20px;
}
.box {
    border: 1px solid #89bbd3;
    border-radius: 10px;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
    transition: opacity 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
	/*Remove inherited values*/
	text-shadow: 0 0px 0 #f3f3f3;
}
/*Change for hover state (BLUE)*/
.blue-bg .box:hover {
    border: 1px solid #fff;
    color: white;
	cursor:pointer;
	background-color:white;
}
.blue-bg .box:hover h2{
	color: #3295be;
}
.blue-bg .box:hover p{
	color: #a3d0e3;
}
.blue-bg .ui-link:hover{
	text-decoration:none;
}
.blue-bg .ui-link{
	text-decoration:none;
}

/*End of hover change state for blue*/
.content {
    float: left;
    width: 80%;
}
.box h2, .box img {
    display: inline;
}
.blue-bg .box h2 {
    color: white;
    text-transform: none;
}


.box h2 {
    margin: 0;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.box p {
    color: #95c5db;
}
.blue-bg .box p {
    color: #deeef5;
}
.content p {
    margin: 0;
    font-size: 18px;
    color: white;
    line-height: 30px;
    letter-spacing: 1px;
}
/*PROJECTS*/
#projects .box h2{
	color: #52acd1;
}
#projects .box:hover h2{
	color: #fff;
}
.white-bg .box p {
    color: #a3d0e3;
}
/*Change for hover state (WHITE)*/
.white-bg .box:hover {
    border: 1px solid #3295be;
    color: white;
	cursor:pointer;
	background-color: #3295be;
}
.white-bg .box:hover h2{
	color: #fff;
}
.white-bg .box:hover p{
	color: #fff;
}
.white-bg .ui-link:hover{
	text-decoration:none;
}
.white-bg .ui-link{
	text-decoration:none;
}
.white-bg .box:hover .small{
	color:#fff;
}
/*End of hover change state for white*/


/*MOBILE*/
@media screen and (max-width: 480px) {
	img#ucd_logo{
		margin-left:4%;
	}
	.main-section h1:after {
		margin: 10px 0 -10px 42%;
	}
	.main-section > .section-content {
		display: table-cell;
		vertical-align: middle;
		padding: 10px;
		text-align: left;
	}
	.section-content {
		padding: 10px;
		display: block;
		overflow: auto;
	}
	.paragraph-section{
		padding:0;
	}
	.title {
		float: left;
		width: 100%;
		margin-top: 10%; 
	}
	.content{
		width:100%;
	}
	.section-content .content > div {
		padding-left: 0px;
	}
}
